{% macro displayNewsList(news_list) %}
{% for news in news_list %}

<link rel="stylesheet" href="https://fonts.google.com/specimen/Nunito" type="text/css">
<div class=" card col-md-2 pt-2" style="font-family: Nunito;background-color: #C0EDE7;">
    <a href="/news/{{news.id}}">{{news.name}}</a>
</div>
{% endfor %}
{% endmacro %}

{% macro displayArticleList(articles_list) %}
<div class="container">
    <h2 class="text-info mb-4">News</h2>
    <div class="row" style="margin-left: 5px;" >
{% for news in articles_list %}
        <div class="card col-md-4" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); margin:8px; padding: 8px;">
            <img class="card-img-top" class="img-responsive" src="{{news.urlToImage}}" alt="Card image cap" style="height:100%; width:100%;">
            <div class="card-body">
                <h5 class="card-title">{{news.title}}</h5>
                <p class="card-text">{{news.description}}</p>
                <p class="card-text"><strong>Written by:</strong> {{news.author}}</p>
                <p class="card-text"><strong>Published On:</strong> {{news.publishedAt}}</p>
                <a href="{{news.url}}" class="btn btn-secondary" style="background-color: grey;color: whitesmoke;font-size: 15px;">Continue...</a>
            </div>
        </div>
 
{% endfor %}
</div>
</div>
{% endmacro %}